body
{
	background:#B3B3B3;
	font-size:125%;
	margin:4%;
}

h1{
	background:#666666;
	color:#ffffff;
	text-align:center;
	border:inset 1px;
	font-variant:small-caps;
}

h2{
	color:#fb77d1;
	font-variant:small-caps;
	font-family:arial,"Times New Roman",serif;
	text-align:center;
	background:#666666;
	border:inset 1px;
}

header{
	text-align:center;
}

p{
	text-align:center;
}

nav{
	text-align:center;
	background:linear-gradient(#00b7ea 0%,#7ec3d6 100%);
	color:#e91e63;
	text-align:center;
	border:inset white 2px;
	border-radius:5px;

	margin:5px;

	padding:5px;
}

img {
	height: 200px;
	width: 200px;
	text-align:center;
}

c{
	color:orange;
}

ul{
	list-style-type: square;
}

table.num{
	color:#06425C;
	border-spacing:0;
	border:3px solid black;
	-webkit-border-radius:25px 25px 0 0;
	border-radius:0 0 25px 25px;
}

tr:last-child>td:last-child{
	-webkit-border-radius:0 0 25px 0;
	border-radius:0 0 25px 0;
}
tr:last-child>td:first-child{
	-webkit-border-radius:0 0 0 25px;
	border-radius:0 0 0 25px;
}

.num caption{
	text-transform:uppercase;
	background-color:#666666;
	color:#ffffff;
	font-size:150%;
	-webkit-border-radius:25px 25px 0 0;
	border-radius:25px 25px 0 0;
}

tr:nth-child(odd){
	background:#F2F2F2;
}

tr:nth-child(even){
	background:#CDBB79;
}

.num th,.num td{
	margin:2px;
	padding-botton:2px;
}

th{
	text-align:center;
	background:#ffffff;
}

.num td{
	width:80px;
	height:60px;
	text-align:center;
}

span{
	dispaly:block;
	text-align:center;
	color:#800000;
	visibility: hidden;
}

td:active>span{
	visibility:visible;
}
	
table{
	margin-left:auto;
	margin-right:auto;
}

video {
	display: block;
width: auto;
	margin: 0 auto; 
} 

div{
	width:30%;

	background:linear-gradient(#00ffff 0%,#aedede 100%);

	display:table-cell;
	padding:5px;
	margin:10px;

	-webkit-border:inset #ffffff 4px;
	-moz-border:inset #ffffff 4px;
	-ms-border:inset #ffffff 4px;
	-o-border:inset #ffffff 4px;
	border:inset #ffffff 4px;

	border-radius:10px;

}
a{
	font-weight:bold;
	color:#ffffff;
	background:#e91e63;
	display:inline;
	text-decoration:none;
}
a:hover{
	background:#ffffff;
	color:#e91e63;
}
a:focus{
	background:#ffffff;
	color:#e91e63;
}
a:active{
	border: 1px solid #000000;
}

ul{
	list-style-type:square;
}

#order{
	list-style-type: upper-roman;
}

#image{
	border:5px inset rgb(248, 249, 251);
	margin:0 auto;
}

.mail{
     color:#ffffff;
     background:#c2185b;
}
     
p:hover{
	border:1px;
}
button{
	background:#00ffff;
	border:2px solid #666666;
	padding:1%;
	display:inline-block;
	width:20%;
	margin-left:19.5%;
}
button:hover{
	border:2px inset #ffffff;
}
#abcd,#stuff{
	width:40%;
	margin-left:30%;
	border:2px solid #000000;
}
#stuff{
	background:#ffffff;
	text-color:#B3B3B3;
}

.closed{
		display: none;
}
.open{
		display: block;
}

#demo{
  		color:white;
		background-color: #7F7F7F;
      		padding:10px;
      		font-size:120%
}